body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vH;
    background-color: var(--bg-color);
}

h1 {
    font-size: 40pt;
    font-weight: 500;
    color: var(--main-color);
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.item:hover {
    cursor: pointer;
}

.item * {
    transition: all 0.35s ease-in-out;
}

img {
    max-width: 100%;
    vertical-align: top;
    height: 310px;
}

.item:hover img {
    opacity: 0.2;
}

.text {
    font-size: 12pt;
    width: 80%;
    height: 90%;
    position: absolute;
    top: -100px;
    left: 10%;
    color: var(--text-color);
}

.text h3 {
    font-size: 18pt;
    color: var(--main-color);
}

.item:hover .text {
    top: 20%;
}

.item:hover .button {
    bottom: 20%;
}

.item .button {
    font-size: 12pt;
    position: absolute;
    bottom: -100px;
    left: 25%;
    width: 50%;
    border: 3px solid var(--second-bg-color);
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--second-bg-color);
    color: var(--main-color);
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: var(--bg-color);
    margin: 5% auto;
    box-sizing: border-box;
    width: 50%;
    height: 200%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.scale {
    animation: scale 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

#img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    
}

#details {
    padding: 25px;
    text-align: left;
    position: relative;
    height: 264px;
    box-sizing: border-box;
    border-top: 1px solid #363638;
}

    #details * {
        transition: all .3s;
    }

#title {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button {
    position: absolute;
    width: 30%;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    text-align: center;
    left: 25px;
    bottom: 35px;
    padding: 15px;
}

/*idk this makes what*/
#details i {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 3rem;
    color: #01A2AC;
}

#details .button:hover,
i:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Close Button */
.close {
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    transition: .5s;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    transition: .5s;
}
